body {
    background: #222222;
    font-family: 'Dosis', sans-serif;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}

#board {
    margin: 0px auto;
}

#footer {
    margin: 0px auto;
}
